button {
    border: 0;
    background: transparent;
    color: white;
    position: relative;
    overflow: hidden;
    padding: 15px;
    border-radius: 30px;
    font-size: 15px;
    font-weight: 600;
    box-shadow: 0px 10px 13px -7px #00000063;
    transition: all .2s;
    margin-top: 10px;
    z-index: 0;
    cursor: pointer;
    &::after {
        content: "";
        width: 110%;
        height: 400px;
        background: $background-grad;
        position: absolute;
        top:-165px;
        left: -15px;
        z-index: -1;
        transition: all .5s;
    }
    &:hover::after {
        transform: rotate(150deg);
    }
    &:hover {
        transform: translate(0, -6px);
        box-shadow: 5px -5px 25px 0 $colour-secondary, -5px 5px 25px 0px $colour-primary;
    }
}
.btn__validate__meal {
    align-content: center;
    display: flex;
    justify-content: center;
    margin: auto;
      margin-top: auto;
      margin-bottom: auto;
    width: 50%;
    margin-top: 60px;
    margin-bottom: 60px;
}
.btn {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    margin: 15px;
    margin-right: 10px;
        h2 {
            margin-bottom: 0px;
            font-weight: 600;
        }
        &__select {
        display: flex;
        align-items: center;
        background-color: $colour-background;
        border-radius: 20px;
        cursor: pointer;
        height: 65px;
        position: relative;
            i {
                margin-left: 12%;
                font-size: 17px;
                color: $colour-icon;
            }
            p {
                position: absolute;
                left: -8px;
                width: 20px;
                height: 17px;
                border-radius: 20px;
                background-color: $colour-primary;
                text-align: center;
                color: white;
                font-size: 12px;
                padding-top: 3px;    
            }
            h3 {
                margin: auto;
                font-size: 15px;
            }
            &:hover {
                background-color: $colour-select;
                i{
                    color: $colour-primary;
                }
            }
    }
}

.like{
    position: relative;
    .fa-heart{
    position: absolute;
    right: 25px;
    top: 25px;
    transition: all 450ms;
    font-size: 25px;
    }
    .fa-solid{
        background: $background-grad;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .fa-regular{
        background: white;
        z-index: 1;
        &:hover {
            opacity: 0;
        }
        }
}

.like__back-smoke {
    position: relative;
    .fa-heart{
    position: absolute;
    right: 25px;
    top: 35px;
    transition: all 450ms;
    font-size: 25px;
    }
    .fa-solid{
        background: $background-grad;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .fa-regular{
        background: $colour-background;
        z-index: 1;
        &:hover {
            opacity: 0;
        }
        }
}

.checked {
    display: flex;
    align-items: center;
    justify-content: center;
    background: $colour-tertiary;
    color: white;
    font-size: 20px;
    width: 0px;
    transition: all 0.4s ease-in-out;
    i {
        transform: rotate(0deg);
        transition: all 0.4s ease-in-out;
    }
}
.meal {
    &:hover{
        .checked {
            width: 100px;
            transition: all 0.4s ease-in-out;
            i {
                transform: rotate(360deg);
                transition: all 0.4s ease-in-out;
            }
        }
    }
}