.logo__meal {
    justify-content: start;
    img {
        margin: 0px;
    }
}
.arrow-back {
        font-size: 20px;
        flex-basis: 25%;
        display: flex;
        justify-content: start;
        align-items: center;
        i {
            padding-left: 15%;
        }
}

.btn__meal{
    flex-basis: 100%;
    h2 {
    font-size: 20px;
}
}
.bloc-page {
    position: relative;
    background-color: $colour-background;
    border-radius: 30px 30px 0px 0px;
    margin: -30px -5px 0px -5px;
    padding-bottom: 1px;
}
.meal {
    display: flex;
    justify-content: space-between;
    background-color: white;
    border-radius: 20px;
    height: 100px;
    box-shadow: 0px 0px 6px 4px rgba(218, 218, 218, 0.91);
    overflow: hidden;
    flex-basis: 100%;
    cursor: pointer;
    &__description {
        display: flex;
        flex-direction: column;
        flex-basis: 85%;
        min-width: 0;
        }
        h3 {
            font-size: 17px;
            margin:25px 0 10px 15px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        p {
            font-size: 15px;
            margin:0 0 10px 15px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }

.price {
    display: flex;
    align-items: center;
    justify-content: end;
    margin: 5%;
    strong {
        display: block;
        margin-top: 30px;
    }
}