
.logo {
        display: flex;
        justify-content: center;
        padding-bottom: 10px;
        padding-top: 10px;
        margin: 0 -5px 0 -5px;
        img {
        display: block;
        margin: auto;
        width: 50%;
        }
    }
.location {
        display: flex;
        justify-content: center;
        column-gap: 10px;
        background-color: gainsboro;
        height: 50px;
        margin: 0 -8px 10px -8px;
        i,p {
            margin: auto 10px auto 0;
        }
    }


.title {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    row-gap: 20px;
    margin: -10px;
    padding-top: 30px;
    padding-right: 20px;
    padding-bottom: 30px;
    padding-left: 20px;
    background-color: $colour-background;
    &__text {    
        display: flex;
        row-gap: 10px;
        flex-direction: column;
            h1 {
            margin: auto;
        }
    }
}

.list {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    background-color: $colour-background;
    margin: 30px -10px;
    margin-right: -10px;
    padding: 10px;
    margin-bottom: 0px;
    padding-bottom: 30px;
    .new-image {
        position: relative;
        .new {
            position: absolute;
            background-color: $colour-tertiary;
            color: darken($color: $colour-tertiary, $amount: 40%);
            right: 15px;
            top: 15px;
            border-radius: 2px;
            p {
                margin: 6px 12px;
                font-size: 15px;
                font-weight: 500;   
            }
        }
      }
    h2 {
        margin-left: 10px;
        font-weight: 600;
    }
        &__cards {
        display: flex;
        flex-direction: column;
        background-color: white;
        border-radius: 15px;
        box-shadow: 0px 0px 6px 4px rgba(218,218,218,0.91);
        height: 250px;
        margin: 0 10px 0 10px;
        img {
            height: 170px;
            border-radius: 15px 15px 0px 0px;
            background-size: cover;
            background-position: center center;
            object-fit: cover;
            width: 100%; 
        }
    }
}

a {
    color: inherit;
    text-decoration: none;
}

.description {
    display: flex;
    justify-content: space-between;
    &__text{
        margin: 20px;
        h3 {
            margin: auto;
        }
        p {
            margin: auto;
            font-weight: 300;
        }
    }
}
