.meal__1 {  
    animation: 7s cubic-bezier(.63,.35,.42,.82) 7s 1 slideInFromBottom;
}

.meal__2 {  
    animation: 7s cubic-bezier(.63,.35,.42,.82) 7.2s 1 slideInFromBottom;
}

.meal__3 {  
    animation: 7s cubic-bezier(.63,.35,.42,.82) 7.4s 1 slideInFromBottom;
}

.meal__4 {  
    animation: 7s cubic-bezier(.63,.35,.42,.82) 7.6s 1 slideInFromBottom;
}