@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
    opacity:1;
  }
  30% {
    transform: translateY(0%);
    opacity:1;
  }
}

@keyframes fill-grounds {
  10%, 80%{
    transform: scaleY(1);
    opacity:1;
  }
  5%,100%{
    opacity:0;
    transform: scaleY(0);
  }
}

@keyframes fill-water {
  0%,10%{
    transform:scaleY(0);
  }
  30%{
    transform: scaleY(1);
    transform-origin:bottom right;
  }
  40%, 50%{
    transform: scaleY(1) scaleX(1) rotate(0);
    background-color: $color-coffee;
    transform-origin: top right;
  }
  70%,100%{
    transform: rotate(-90deg);
    transform-origin: top right;
    background-color: $color-coffee;
  }
}

@keyframes plunge {
  0%,32%,100%{
    transform: translateY(-72%);
  }
  47%,80%{
    transform: translateY(0);
  }
}

@keyframes pour {
  50%,100%{
    transform:translate(-50%, -20%) rotate(0deg);
  }
  75%,80%{
    transform: rotate(90deg);
  }
}

@keyframes drop {
  0%,50%{
    transform: rotate(-45deg) scale(0);
  }
  70%{
    transform: rotate(-45deg) scale(1.2);
  }
  72%{
    transform: rotate(-45deg) scale(1);
  }
  80%,100%{
    transform: rotate(-45deg) scale(1) translate(70vw, 70vw);
  }
}

@keyframes timerloader {
  0% {
      
      
      opacity: 1;
  }
  90% {
      
      visibility: hidden;
      opacity: 0;
  }
  100% {
      
    visibility: hidden;
    opacity: 0;
}
}