$colour-primary: #9356DC;
$colour-secondary: #FF79DA;
$colour-tertiary: #99E2D0;
$colour-footer: #353535;
$colour-icon: gray;
$colour-background: #f6f6f6;
$colour-select:#f5edff;
$background-grad: linear-gradient(350deg, $colour-primary 25%, $colour-secondary 65%)