$colour-primary: #9356DC;
$colour-secondary: #FF79DA;
$colour-tertiary: #99E2D0;
$colour-footer: #353535;
$colour-icon: gray;
$colour-background: #f6f6f6;
$colour-select:#f5edff;
$background-grad: linear-gradient(350deg, $colour-primary 25%, $colour-secondary 65%);
$colour-location: gainsboro;

// loader //
$color-bg: #f6f6f6;
$color-grounds:#9356DC;
$color-coffee: rgba(#FF79DA, .85);
$color-water: rgba(#99E2D0,.15);
$color-lid: #9356DC;
$color-accent: #FF79DA;
$color-carafe: rgba(#99E2D0, .2);
$color-filter: $color-lid;
$color-shading: rgba(#000, .12);
$color-highlight: rgba(#99E2D0, .1);

$carafe-height:80%;
$carafe-padding: 5%;
$lid-height: 100% - $carafe-height;
$grounds-height:20%;

$time: 10000ms;
