.wrapper{
  @include position(0,0,0,0);
  background:$color-bg;
  display:flex;
  overflow:hidden;
  z-index: 10002;
  animation: 2s ease-in-out 2s 1 both timerloader;
  margin: -8px;
}

.holder{
  @include position(25%,100%,25%,auto);
  width:20%;
  background:$color-lid;
  border-right:0;
  border-radius: 100% 0 0 100% / 20% 0 0 20%;
  &:after{
    @include position(10%,0,10%,37%);
    content:'';
    display:block;
    background:$color-bg;
    border-radius: 100% 0 0 100% / 20% 0 0 20%;
  }
}

.press{
  margin:auto;
  width: 10vh;
  max-width:70%;
  position:absolute;
  top:40vh;
  left:50%;
  transform:translate(-50%, -20%);
  animation: pour $time infinite;
  transform-origin:50% 20%;  
  &:after{
    content:'';
    display:block;
    padding-top:180%;
  }
}

.carafe{
  position:absolute;
  right:0;
  bottom:0;
  left:0;
  box-sizing:border-box;
  height:$carafe-height;
  background:$color-carafe;
  border-radius:0 0 18% 18%;
  box-shadow: inset -4rem 0 $color-highlight;
  z-index:0;
}

.drop{
  width:30%;
  background:$color-coffee;
  position:absolute;
  left:95%;
  top:4%;
  border-radius:0 100% 100% 100%;
  transform:rotate(-45deg);
  animation: drop $time infinite;
  transform-origin:left top;
  z-index:1;
  &:after{
    content:'';
    display:block;
    padding-top:100%;
  }
}

.spout {
  @include position(4%,auto,auto,100%);
  width: 0;
  height: 0;
  padding-bottom: 140%;
  padding-left: 14%;
  overflow: hidden;
  &:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    margin-left: -500px;
    border-bottom: 500px solid transparent;
    border-left: 500px solid $color-carafe;
  }
}

.contents{
  position:absolute;
  top:0;
  right:$carafe-padding;
  bottom:$carafe-padding;
  left:$carafe-padding;
  box-sizing:border-box;
  background:rgba($color-carafe,.1);
  border-radius:0 0 1rem 1rem;
  z-index:-1;
  overflow:hidden;
}

.lid{
  position:absolute;
  right:0;
  left:0;
  background:$color-lid;
  border-top-right-radius: 20% 50%;
  border-top-left-radius: 20% 50%;
  height:100% - $carafe-height;
  z-index:10;
  box-shadow: inset -3rem 0 $color-shading;
  &:after{
    content:'';
    display:block;
    @include position(auto, -2.5%, 0, -2.5%);
    background:$color-lid;
    height:20%;
    border-radius:.25rem;
    box-shadow: inset -4rem -1rem $color-shading;    
  }
}

.plunger{
  position:absolute;
  top:0;
  right:$carafe-padding;
  bottom:15%;
  left:$carafe-padding;
  transform: translateY(-$carafe-height + $lid-height);
    animation: plunge $time infinite;
    }

.shaft{
  width:6%;
  position:absolute;
  top:0;
  left:50%;
  margin-left:-3%;
  bottom:0;
  background:$color-accent;
  box-shadow: inset -.25rem .75rem $color-shading;
  .knob{
    content:'';
    display:block;
    position:absolute;
    bottom:98%;
    width:400%;
    border-radius:100%;
    left:-150%;
    background:$color-lid;
    box-shadow: inset -.5rem 0 $color-shading;

    &:after{
      content:'';
      display:block;
      padding-top:100%;
    }
  }
}

.filter{
  @include position(auto, 0, 0, 0);
  background:$color-accent;
  height:5%;
  border:.3rem solid $color-filter;
  border-top:0;
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  box-sizing:border-box;
}

.grounds{
  @include position(auto, 0, 0, 0);
  background:$color-grounds;
  height:$grounds-height;
  transform: scaleY(0);
  border-radius:0 0 4% 4%;
  transform-origin:bottom center;
  animation: fill-grounds $time infinite;
  animation-fill-mode: forwards;
}

.water{
  @include position(2.5%, 0, 0, -100%);
  background: $color-water;
  transform: scaleY(0);
  transform-origin:bottom center;
  animation: fill-water $time infinite;
  animation-fill-mode: forwards;
  z-index:2;
}